librosa==0.8.0
numpy==1.19.5
tensorflow==2.4.0
tqdm==4.55.1
scikit-learn==0.22.1
matplotlib==2.1.2
h5py==2.10.0
webrtcvad==2.0.10
graphviz==0.16
grep==0.3.2
torch==1.7.0
torchaudio==0.7.0
pyannote.audio==1.1.1
pydub
keras-tuner
pyaudio
